In [1]:
import pandas as pd
import mysql.connector

In [3]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345'
)
connection.autocommit=True
cursor=connection.cursor()
data_base=("Create database bird")
cursor.execute(data_base)
print("Data_Base Created Successfully")
cursor.close()
connection.close()

Data_Base Created Successfully

In [5]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',
    password='12345',
    database='bird'
)

connection.autocommit=True

cursor = connection.cursor()
data_base=("use bird")
cursor.execute(data_base)
print("Data base created")

Data base created

In [6]:

cursor.execute(""" 
CREATE TABLE forest (
    Admin_Unit_Code VARCHAR(10),
    Site_Name VARCHAR(255),
    Plot_Name VARCHAR(255),
    Location_Type VARCHAR(50),
    Year INT,
    Date DATE,
    Start_Time TIME,
    End_Time TIME,
    Observer VARCHAR(255),
    Visit INT,
    Interval_Length VARCHAR(100),
    ID_Method VARCHAR(100),
    Distance VARCHAR(100),
    Flyover_Observed BOOLEAN,
    Sex VARCHAR(100),
    Common_Name VARCHAR(100),
    Scientific_Name VARCHAR (100),
    AcceptedTSN FLOAT,
    NPSTaxonCode INT,
    AOU_Code VARCHAR(10),
    PIF_Watchlist_Status BOOLEAN,
    Regional_Stewardship_Status BOOLEAN,
    Temperature FLOAT,
    Humidity FLOAT,
    Sky VARCHAR(100),
    Wind VARCHAR(100),
    Disturbance VARCHAR(255),
    Initial_Three_Min_Cnt BOOLEAN
);
""")
print("Data Uploaded Successfully")

Data Uploaded Successfully

In [7]:
cursor.execute("""
CREATE TABLE grassland (
    Admin_Unit_Code VARCHAR(10),
    Plot_Name VARCHAR(255),
    Location_Type VARCHAR(50),
    Year INT,
    Date DATE,
    Start_Time TIME,
    End_Time TIME,
    Observer VARCHAR(255),
    Visit INT,
    Interval_Length VARCHAR(100),
    ID_Method VARCHAR(100),
    Distance VARCHAR(100),
    Flyover_Observed BOOLEAN,
    Sex VARCHAR(100),
    Common_Name VARCHAR (100),
    Scientific_Name VARCHAR(100),
    AcceptedTSN FLOAT,
    TaxonCode FLOAT,
    AOU_Code VARCHAR(10),
    PIF_Watchlist_Status BOOLEAN,
    Regional_Stewardship_Status BOOLEAN,
    Temperature FLOAT,
    Humidity FLOAT,
    Sky VARCHAR(100),
    Wind VARCHAR(100),
    Disturbance VARCHAR(255),
    Previously_Obs BOOLEAN,
    Initial_Three_Min_Cnt BOOLEAN
);
""")
print("Data uploaded Successfully")

Data uploaded Successfully

In [9]:
forest=pd.read_csv('c:\\Users\\Sai Krishnan\\OneDrive\\Desktop\\ML Program\\Bird Species Observation Analysis in Forest and Grassland Ecosystem\\forest.csv')
grass=pd.read_csv('c:\\Users\\Sai Krishnan\\OneDrive\\Desktop\\ML Program\\Bird Species Observation Analysis in Forest and Grassland Ecosystem\\Grass_Land.csv')

In [12]:
for index, row in forest.iterrows():
    cursor.execute("""
        INSERT INTO forest (
            Admin_Unit_Code, Site_Name, Plot_Name, Location_Type, Year, Date, Start_Time, End_Time, 
            Observer, Visit, Interval_Length, ID_Method, Distance, Flyover_Observed, Sex, Common_Name, 
            Scientific_Name, AcceptedTSN, NPSTaxonCode, AOU_Code, PIF_Watchlist_Status, 
            Regional_Stewardship_Status, Temperature, Humidity, Sky, Wind, Disturbance, Initial_Three_Min_Cnt
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
                  %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row["Admin_Unit_Code"], row["Site_Name"], row["Plot_Name"], row["Location_Type"], 
        row["Year"], row["Date"], row["Start_Time"], row["End_Time"], row["Observer"], row["Visit"], 
        row["Interval_Length"], row["ID_Method"], row["Distance"], row["Flyover_Observed"], row["Sex"], 
        row["Common_Name"], row["Scientific_Name"], row["AcceptedTSN"], row["NPSTaxonCode"], row["AOU_Code"], 
        row["PIF_Watchlist_Status"], row["Regional_Stewardship_Status"], row["Temperature"], 
        row["Humidity"], row["Sky"], row["Wind"], row["Disturbance"], row["Initial_Three_Min_Cnt"]
    ))


print("Forest data inserted successfully!")

Forest data inserted successfully!

In [15]:
for index, row in grass.iterrows():
    cursor.execute("""
        INSERT INTO grassland (
            Admin_Unit_Code, Plot_Name, Location_Type, Year, Date, Start_Time, End_Time, Observer, 
            Visit, Interval_Length, ID_Method, Distance, Flyover_Observed, Sex, Common_Name, 
            Scientific_Name, AcceptedTSN, TaxonCode, AOU_Code, PIF_Watchlist_Status, 
            Regional_Stewardship_Status, Temperature, Humidity, Sky, Wind, Disturbance, 
            Previously_Obs, Initial_Three_Min_Cnt
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
                  %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        row["Admin_Unit_Code"], row["Plot_Name"], row["Location_Type"], row["Year"], 
        row["Date"], row["Start_Time"], row["End_Time"], row["Observer"], row["Visit"], 
        row["Interval_Length"], row["ID_Method"], row["Distance"], row["Flyover_Observed"], 
        row["Sex"], row["Common_Name"], row["Scientific_Name"], row["AcceptedTSN"], 
        row["TaxonCode"], row["AOU_Code"], row["PIF_Watchlist_Status"], 
        row["Regional_Stewardship_Status"], row["Temperature"], row["Humidity"], 
        row["Sky"], row["Wind"], row["Disturbance"], row["Previously_Obs"], row["Initial_Three_Min_Cnt"]
    ))


print("grass data inserted successfully!")

grass data inserted successfully!